<a href="https://colab.research.google.com/github/BrunoABatista94/-NF3-BIG-DATA-Bruno-Alves-Batista/blob/main/NF3_BIG_DATA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Obtenha o dataset do endereço https://www.w3resource.com/pythonexercises/pandas/filter/world_alcohol.csv
#    e realize as seguintes análises

import pandas as pd
df = pd.read_csv('world_alcohol.csv')
df

In [ ]:
# A) Agrupe os dados por tipo de bebidas;

df.groupby('Beverage Types')

In [ ]:
# B) Agrupe os dados por Região e por Ano;

df.groupby('WHO region')['Year']

In [ ]:
# C) Seção de Contagens: Contar a ocorrência de Regiões, de Países e a soma da coluna de valores por Bebida.

# Contar a ocorrência de Regiões, de Países
df [['WHO region','Country']].value_counts()

In [ ]:
# Soma da coluna de valores por Bebida
soma_bebida = df.groupby('Beverage Types')['Display Value'].sum()
soma_bebida

In [ ]:
# D) Realize análises estatísticas da coluna dos valores: Média, Moda, Mediana, Estatística
#    Descritiva e Gráfico de comparação dos valores agrupados por tipo de bebida.

#  Média
media = df['Display Value'].mean()
print('\n Média\n',media)
print('\n')

# Moda
moda = df['Display Value'].mode()
print('Moda \n',moda)
print('\n')

# Mediana
mediana = df['Display Value'].median()
print('Mediana \n',mediana)
print('\n')

# Estatística Descritiva
estatistica_descritiva = df['Display Value'].describe()
print('Estatística Descritiva \n',estatistica_descritiva)
print('\n')

In [ ]:
# Gráfico de comparação dos valores agrupados por tipo de bebida
import matplotlib.pyplot as plot


soma_bebida = df.groupby('Beverage Types')['Display Value'].mean()
soma_bebida.plot.bar(x='Beverage Types')
plot.xlabel('Tipos de Bebidas')
plot.ylabel('Valores da Bebida')

In [ ]:
# E) Mostre resultados de acordo com alguns critérios:

# i. Mostrar a coluna de bebidas do ano de 1985.

Bebidas_Ano_1985 = df[df['Year'] == 1985][['Beverage Types']]
Bebidas_Ano_1985

In [ ]:
# ii. Mostrar a coluna de Região com valores acima de 4.

Regiao_Valores = df[df['Display Value'] > 4][['WHO region']]
Regiao_Valores

In [ ]:
#  2. Seja o dataset chamado cursos-prouni.csv que se encontra no endereço Cursos e notas de corte do PROUNI 2018 - Datasets - Brasil.IO.

import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/BrunoABatista94/-NF3-BIG-DATA-Bruno-Alves-Batista/main/cursos-prouni.csv',encoding= 'latin-1', sep = ',')

df ['curso_busca'] = df['curso_busca'].str.replace('MatemÃ¡tica','Matemática')
df ['grau'] = df['grau'].str.replace('TecnolÃ³gico','Tecnológico')
df

In [ ]:
# A) Efetuar a limpeza das colunas de notas: onde tiver NaN (Not a Number), substituir por 0,0.


df['nota_integral_ampla'].fillna(0.0,inplace = True)
df['nota_integral_cotas'].fillna(0.0,inplace = True)
df['nota_parcial_ampla'].fillna(0.0,inplace = True)
df['nota_parcial_cotas'].fillna(0.0,inplace = True)
df

In [32]:
# B) Agrupe os dados pelo grau (Bacharelado, Licenciatura, etc).

grau = df.groupby('grau')

In [33]:
# C) Agrupe os dados pelos cursos de Matemática, Medicina e Pedagogia.

cursos = df.groupby('curso_busca')

In [ ]:
# Agrupando o curso de Matemática
cursos.get_group('Matemática')

In [ ]:
# Agrupando o curso de Medicina
cursos.get_group('Medicina')

In [ ]:
# Agrupando o curso de Pedagogia
cursos.get_group('Pedagogia')

In [ ]:
# D) Agrupe os dados por Estado e obtenha a média de notas de corte por Estado.

df.groupby('uf_busca')['nota_integral_ampla'].mean()

In [ ]:
# E) Agrupe os dados pelos cursos Tecnológicos.

grau.get_group('Tecnológico')

In [39]:
# F) Elimine a coluna “cidade_filtro” do dataframe.

df.drop('cidade_filtro', axis=1, inplace=True)

In [ ]:
# G) Apresente a média das mensalidades dos cursos de Medicina.

media_mensali_medicina = cursos.get_group('Medicina')['mensalidade'].mean()
media_mensali_medicina

In [ ]:
# H) Média das notas de corte dos cursos de tempo integral.

turno = df.groupby('turno')

media_curso_tempo_integral = turno.get_group('Integral')['nota_integral_ampla'].mean()
media_curso_tempo_integral

In [ ]:
# I) Estatística Descritiva das Notas Integral Ampla dos cursos de Bacharelado.

nota_integral_bacharelado = grau.get_group('Bacharelado')['nota_integral_ampla'].describe()
nota_integral_bacharelado

In [ ]:
# J) Gráfico comparativo entre o grau dos cursos (Bacharelado, Licenciatura, Tecnologia, etc) pelas Notas Integral de Cotas.

import matplotlib.pyplot as plot


curso_integral = df.groupby('grau')['nota_integral_cotas'].mean()
curso_integral.plot.bar(x='grau', y='nota_integral_cotas')
plot.xlabel('Cursos')
plot.ylabel('Notas')